<form action="" method="POST">
    <input type="password" name="password" required placeholder="New Password">
    <br>
    <br>
    <input type="password" name="confirmPassword" required placeholder="Confirm New Password">
</form>